
.icon-user:before { content: '\e800'; } /* '' */
.icon-folder-open:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */